#--------------------------------------
# User personalization
/GarminBinary/.vs
/GarminBinary/GarminBinary.vcxproj.user

# Build products
/GarminBinary/Release
/GarminBinary/Debug
/GarminBinary/GarminBinary.aps

#--------------------------------------
# User personalization
/Gar2rnx/.settings/language.settings.xml

# Build products
/Gar2rnx/Gar2Rnx.exe
/Gar2rnx/*.o

#--------------------------------------
# User files
/GarminBinary/GarminBinary.xml
